<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <title>Frontend Mentor | Stats preview card component</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>


  <footer class="text-center">
    <span>Challenge by</span>
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" class="text-blue-600">Frontend Mentor</a>.
    <span> Coded by</span> <a href="https://github.com/ezequielcinalli" target="_blank" class="text-blue-600">Ezequiel
      Cinalli</a>.
  </footer>

</body>

</html>