.top-wrapper {
    text-align: center;
    margin-bottom: 50px;

    & h1 {
        color: $veryDarkMagenta;
        font-size: 30px;
    }

    & h2 {
        color: $darkGrayishMagenta;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 40px;
    }
}

.rating {
    background-color: $lightGrayishMagenta;
    color: $veryDarkMagenta;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 6px;
}

.stars-container img {
    padding: 0 2px 12px 2px;
}

@media screen and (min-width: $media-width-desktop) {
    .top-wrapper {
        text-align: left;
        display: inline-flex;
        justify-content: space-between;
    }

    .title-wrapper {
        max-width: 390px;
        & h1 {
            font-size: 45px;
        }
    }

    .rating-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .rating {
        display: flex;
        align-items: center;
        padding: 25px 30px;

        &:first-child {
            margin-right: 100px;
        }
        &:nth-child(2) {
            margin-left: 50px;
            margin-right: 50px;
        }
        &:nth-child(3) {
            margin-left: 100px;
        }
    }

    .stars-container {
        margin-right: 25px;
    }

    .stars-container img {
        padding: 0;
    }
}
