.card-body {
    background-color: #fff;
    padding: 30px 30px 12px 30px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-body-title {
    color: $veryDarkGrayishBlue;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 1em;
}

.card-body-paragraph {
    color: $desaturatedDarkBlue;
    margin-bottom: 2em;
    font-weight: 500;
    font-size: 1.03em;
    line-height: 1.5;
}

.card-footer {
    display: flex;

    &-image {
        width: 40px;
        border-radius: 50%;
    }

    &-name {
        margin-left: 1em;
        font-weight: 700;
        color: $veryDarkGrayishBlue;
    }

    &-date {
        color: $grayishBlue;
        margin-left: 1em;
        margin-top: 2px;
    }
}

.tooltip {
    align-self: center;
    margin-left: auto;
}

.tooltip:hover .tooltip-box {
    display: flex;
    align-items: center;
}

.tooltip:hover .icon-share {
    border: 10px solid $desaturatedDarkBlue;
}

.icon-share {
    position: relative;
    z-index: 10;
    border: 10px solid $lightGrayishBlue;
    border-radius: 50%;
    background-color: $lightGrayishBlue;
}

.tooltip-box {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    background: $veryDarkGrayishBlue;
    color: $grayishBlue;
    font-size: 1.1em;
    letter-spacing: 3px;
    padding: 25px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tooltip-box-img {
    margin-left: 15px;
}

@media screen and (min-width: $media-width-desktop) {
    .card-body {
        padding-bottom: 25px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .card-body-title {
        font-size: 1.6em;
    }

    .tooltip {
        position: relative;
    }

    .tooltip-box {
        bottom: 60px;
        left: -83px;
        right: inherit;
        padding: 15px 30px;
        border-radius: 10px;
        font-size: 0.8em;
    }

    .tooltip-box::after {
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        content: "";
        display: block;
        border-top: 10px solid $veryDarkGrayishBlue;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    .tooltip-box-img {
        height: 16px;
        width: 16px;
    }
}
